@charset "utf-8";
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color:inherit;
}
li{
    list-style:none;
}
image{
    vertical-align: top;
    border:none;
}
i,em{
    font-style:normal;
}
b,strong{
    font-weight:normal;
    
}
body{
    font:16px/22px "Microsoft Yahei";
    
}
div{
    margin-top:30px;
}
.tit{
    font-size:22px;
    font-weight:bold;
}
.total{
    margin-left:50px;
}
.b{
    display:block;
    font-weight: bold;
}
.kg{
    margin-right:50px;
}
