@charset "utf-8";
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,pre{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color:inherit;
}
li{
    list-style:none;
}
i,em{
    font-style: normal;
}
b,strong{
    font-weight:normal;
}
img{
    vertical-align:top;
    border:none;
}
.total{
    position:relative;
}
.left1{
    position:absolute;
    width:300px;
    height:100px;
    background-color: red;
}
.middle{
    left:300px;
    position: absolute;
    width:300px;
    height:100px;
    background-color:pink;
}
.right1{ 
    margin-left:600px;
    height:100px;
    background-color:blue;
}