@charset "utf-8";
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,pre{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color:inherit;
}
li{
    list-style:none;
}
i,em{
    font-style: normal;
}
b,strong{
    font-weight:normal;
}
img{
    vertical-align:top;
    border:none;
}
.left1{
    float:left;
    width:30%;
    height:100px;
    background-color: red;
}
.right1{
    float:left;
    width:70%;
    height:100px;
    background-color: blue;
}